* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.125rem;
}

img {
  max-width: 100%;
}

/* ==============
Typography
============= */

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

h1,
h2,
.header-btn,
.section-paragraph {
  color: hsl(192, 100%, 9%);
}

h1 {
  font-size: 1.8rem;
  margin-top: 0.5em;
  grid-column: 1 / -1;
  grid-row: 2;
}

footer p {
  font-size: 0.85rem;
}

footer a {
  font-size: 0.95rem;
}

a {
  display: inline-block;
}

.title-paragraph {
  margin-bottom: 1.8em;
  font-weight: 400;
  grid-row: 3;
  grid-column: 1 / -1;
}

.image-header {
  grid-row: 5 / -1;
  grid-column: 1/ -1;
}

/* logo */
.header-logo {
  width: 70%;
  max-width: 250px;
}

.footer-logo {
  filter: brightness(0) invert(1);
}

/* buttons */
.btn {
  border-radius: 30px;
}

.section-btn,
.title-btn {
  background: hsl(322, 100%, 66%);
  font-size: 0.9rem;
}

.header-btn {
  background: #fff;
  font-size: 0.85rem;
  padding: 0.25em 1.75em;
  box-shadow: 0 0 3px #c5c4c4;
  grid-column: 2;
  grid-row: 1;
  justify-self: end;
  align-self: start;
}

.title-btn {
  padding: 0.75em 4em;
  margin-bottom: 3.6em;
  grid-column: 1 / -1;
  grid-row: 4;
}

.header-btn,
.title-btn,
.section-btn {
  font-weight: 700;
}

.section-paragraph {
  opacity: 50%;
}

.btn,
.footer-link {
  text-decoration: none;
}

.section-btn,
.title-btn,
.footer-link {
  color: #fff;
}

.list-details {
  list-style: none;
}

/* ==============
Layout
============= */

header {
  background: hsl(193, 100%, 96%);
  background-image: url(images/bg-hero-mobile.svg);
}

footer {
  background: hsl(192, 100%, 9%);
  color: #fff;
}

header,
main {
  text-align: center;
}

.container {
  width: 90%;
  max-width: 340px;
  margin-left: auto;
  margin-right: auto;
}

.container-header {
  padding: 1em 0;
  display: grid;
  grid-template: 70px 130px 150px 100px 1fr / 1fr 1fr;
}

/* ==============
Media Query
============= */

@media (min-width: 600px) {
  .container {
    max-width: 1100px;
  }

  .header-btn {
    font-size: 1rem;
  }
}
